@media screen and ( max-width: 480px) {
    .container{
        width: 100%;
    }
    .row{
        flex-wrap: wrap;
       
    }
    .row .col{
        flex-basis: 100%;
    }
    .steps{
        margin-bottom: unset;
    }
    .why-us{
        background-color: rgb(20, 18, 18);
        padding-top: 3rem;
        margin: 0;
    }
   
}